body{
    background:silver;
}

h2{
    font-family:sans-serif;
    margin-left: 5%;
    
}

table{
    border:2px black solid;
    
}

th,tr,td{
    border:2px black solid;
}

.content{
    margin-top: 5%;
    margin-left:35%;
}

button{
    background-color: blue;
    margin-bottom: 2%;
}

input{
    margin:2px;
}